---
http_interactions:
- request:
    method: post
    uri: https://api.ctl.io/v2/authentication/login
    body:
      encoding: UTF-8
      string: '{"username":"<USERNAME>","password":"<PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"userName":"<USERNAME>","accountAlias":"ALTD","locationAlias":"VA1","roles":["AccountAdmin","AccountViewer","BillingAdmin","DNSManager","NetworkAdmin","SecurityAdmin","ServerAdmin","ServerOperator","ServerScheduler"],"bearerToken":"<AUTH_TOKEN>"}'
  recorded_at: Thu, 11 Feb 2016 11:54:27 GMT
- request:
    method: post
    uri: https://api.ctl.io/v2/servers/ALTD
    body:
      encoding: UTF-8
      string: '{"name":"test","type":"standard","groupId":"5757349d19c343a88ce9a473fe2522f4","sourceServerId":"DEBIAN-7-64-TEMPLATE","cpu":1,"memoryGB":1}'
    headers:
      Authorization:
      - <AUTH_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"server":"test","isQueued":true,"links":[{"rel":"status","href":"/v2/operations/altd/status/va1-333252","id":"va1-333252"},{"rel":"self","href":"/v2/servers/ALTD/0f5025b0326c430d80c27f92b71df938?uuid=True","id":"0f5025b0326c430d80c27f92b71df938","verbs":["GET"]}]}'
  recorded_at: Thu, 11 Feb 2016 11:54:29 GMT
[...]
- request:
    method: get
    uri: https://api.ctl.io/v2/operations/ALTD/status/va1-333252
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"notStarted"}'
  recorded_at: Thu, 11 Feb 2016 11:54:30 GMT
[...]
- request:
    method: get
    uri: https://api.ctl.io/v2/servers/ALTD/0f5025b0326c430d80c27f92b71df938?uuid=True
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"va1altdtest10","name":"VA1ALTDTEST10","displayName":"VA1ALTDTEST10","description":"","groupId":"5757349d19c343a88ce9a473fe2522f4","isTemplate":false,"locationId":"VA1","osType":"Debian
        7 64-bit","os":"debian7_64Bit","status":"active","details":{"ipAddresses":[{"internal":"10.135.43.13"}],"secondaryIPAddresses":[],"alertPolicies":[],"cpu":1,"diskCount":3,"hostName":"","inMaintenanceMode":false,"memoryMB":1024,"powerState":"started","storageGB":19,"disks":[{"id":"0:0","sizeGB":1,"partitionPaths":[]},{"id":"0:1","sizeGB":2,"partitionPaths":[]},{"id":"0:2","sizeGB":16,"partitionPaths":[]}],"partitions":[],"snapshots":[],"customFields":[]},"type":"standard","storageType":"premium","changeInfo":{"createdBy":"<USERNAME>","createdDate":"2016-02-11T11:54:44Z","modifiedDate":"2016-02-11T11:56:10Z"},"links":[{"rel":"self","href":"/v2/servers/altd/va1altdtest10","id":"va1altdtest10","verbs":["GET","PATCH","DELETE"]},{"rel":"group","href":"/v2/groups/altd/5757349d19c343a88ce9a473fe2522f4","id":"5757349d19c343a88ce9a473fe2522f4"},{"rel":"account","href":"/v2/accounts/altd","id":"altd"},{"rel":"billing","href":"/v2/billing/altd/serverPricing/va1altdtest10"},{"rel":"publicIPAddresses","href":"/v2/servers/altd/va1altdtest10/publicIPAddresses","verbs":["POST"]},{"rel":"credentials","href":"/v2/servers/altd/va1altdtest10/credentials"},{"rel":"statistics","href":"/v2/servers/altd/va1altdtest10/statistics"},{"rel":"upcomingScheduledActivities","href":"/v2/servers/altd/0f5025b0326c430d80c27f92b71df938/upcomingScheduledActivities"},{"rel":"scheduledActivities","href":"/v2/servers/altd/0f5025b0326c430d80c27f92b71df938/scheduledActivities","verbs":["GET","POST"]},{"rel":"capabilities","href":"/v2/servers/altd/va1altdtest10/capabilities"},{"rel":"alertPolicyMappings","href":"/v2/servers/altd/va1altdtest10/alertPolicies","verbs":["POST"]},{"rel":"antiAffinityPolicyMapping","href":"/v2/servers/altd/va1altdtest10/antiAffinityPolicy","verbs":["PUT","DELETE"]},{"rel":"cpuAutoscalePolicyMapping","href":"/v2/servers/altd/va1altdtest10/cpuAutoscalePolicy","verbs":["PUT","DELETE"]}]}'
  recorded_at: Thu, 11 Feb 2016 11:56:14 GMT
recorded_with: VCR 3.0.1
