---
http_interactions:
- request:
    method: post
    uri: https://api.ctl.io/v2/authentication/login
    body:
      encoding: UTF-8
      string: '{"username":"<USERNAME>","password":"<PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"userName":"<USERNAME>","accountAlias":"ALTD","locationAlias":"VA1","roles":["AccountAdmin","AccountViewer","BillingAdmin","DNSManager","NetworkAdmin","SecurityAdmin","ServerAdmin","ServerOperator","ServerScheduler"],"bearerToken":"<AUTH_TOKEN>"}'
  recorded_at: Tue, 01 Mar 2016 09:47:00 GMT
- request:
    method: post
    uri: https://api.ctl.io/v2-experimental/networks/ALTD/VA1/claim
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - <AUTH_TOKEN>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"operationId":"acdec714326246029d1b8afa479fabc3","uri":"/v2-experimental/operations/ALTD/status/acdec714326246029d1b8afa479fabc3"}'
  recorded_at: Tue, 01 Mar 2016 09:47:01 GMT
- request:
    method: get
    uri: https://api.ctl.io/v2-experimental/operations/ALTD/status/acdec714326246029d1b8afa479fabc3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"requestType":"blueprintOperation","status":"queued","summary":{"blueprintId":350037,"locationId":"VA1"},"source":{"userName":"<USERNAME>","requestedAt":"2016-03-01T09:46:10Z"}}'
  recorded_at: Tue, 01 Mar 2016 09:47:02 GMT
[...]
- request:
    method: get
    uri: https://api.ctl.io/v2-experimental/operations/ALTD/status/acdec714326246029d1b8afa479fabc3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"requestType":"blueprintOperation","status":"succeeded","summary":{"blueprintId":350037,"locationId":"VA1","links":[{"rel":"network","href":"/v2-experimental/networks/ALTD/VA1/4fee31fc4feb4a53939c4e5bc6c62041","id":"4fee31fc4feb4a53939c4e5bc6c62041"}]},"source":{"userName":"<USERNAME>","requestedAt":"2016-03-01T09:46:10Z"}}'
  recorded_at: Tue, 01 Mar 2016 09:53:04 GMT
- request:
    method: get
    uri: https://api.ctl.io/v2-experimental/networks/ALTD/VA1/4fee31fc4feb4a53939c4e5bc6c62041
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"4fee31fc4feb4a53939c4e5bc6c62041","cidr":"10.136.21.0/24","description":"vlan_3521_10.136.21","gateway":"10.136.21.1","name":"vlan_3521_10.136.21","netmask":"255.255.255.0","type":"private","vlan":3521,"links":[{"rel":"self","href":"/v2-experimental/networks/altd/va1/4fee31fc4feb4a53939c4e5bc6c62041","verbs":["GET","PUT"]},{"rel":"ipAddresses","href":"/v2-experimental/networks/altd/va1/4fee31fc4feb4a53939c4e5bc6c62041/ipAddresses","verbs":["GET"]},{"rel":"release","href":"/v2-experimental/networks/altd/va1/4fee31fc4feb4a53939c4e5bc6c62041/release","verbs":["POST"]}]}'
  recorded_at: Tue, 01 Mar 2016 09:53:05 GMT
- request:
    method: put
    uri: https://api.ctl.io/v2-experimental/networks/ALTD/VA1/4fee31fc4feb4a53939c4e5bc6c62041
    body:
      encoding: UTF-8
      string: '{"name":"test"}'
    headers:
      Authorization:
      - <AUTH_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Mar 2016 09:53:05 GMT
recorded_with: VCR 3.0.1
