---
http_interactions:
- request:
    method: post
    uri: https://api.ctl.io/v2/authentication/login
    body:
      encoding: UTF-8
      string: '{"username":"<USERNAME>","password":"<PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"userName":"<USERNAME>","accountAlias":"ALTD","locationAlias":"VA1","roles":["AccountAdmin","AccountViewer","BillingAdmin","DNSManager","NetworkAdmin","SecurityAdmin","ServerAdmin","ServerOperator","ServerScheduler"],"bearerToken":"<AUTH_TOKEN>"}'
  recorded_at: Fri, 12 Feb 2016 11:42:47 GMT
- request:
    method: post
    uri: https://api.ctl.io/v2/groups/ALTD
    body:
      encoding: UTF-8
      string: '{"name":"test","description":"test group","parentGroupId":"5757349d19c343a88ce9a473fe2522f4"}'
    headers:
      Authorization:
      - <AUTH_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /v2/groups/altd/cda88a69770447618ffcea8250875224
    body:
      encoding: UTF-8
      string: '{"id":"cda88a69770447618ffcea8250875224","name":"test","description":"test
        group","locationId":"VA1","type":"default","status":"active","groups":[],"links":[{"rel":"createGroup","href":"/v2/groups/altd","verbs":["POST"]},{"rel":"createServer","href":"/v2/servers/altd","verbs":["POST"]},{"rel":"self","href":"/v2/groups/altd/cda88a69770447618ffcea8250875224","verbs":["GET","PATCH","DELETE"]},{"rel":"parentGroup","href":"/v2/groups/altd/5757349d19c343a88ce9a473fe2522f4","id":"5757349d19c343a88ce9a473fe2522f4"},{"rel":"defaults","href":"/v2/groups/altd/cda88a69770447618ffcea8250875224/defaults","verbs":["GET","POST"]},{"rel":"billing","href":"/v2/groups/altd/cda88a69770447618ffcea8250875224/billing"},{"rel":"archiveGroupAction","href":"/v2/groups/altd/cda88a69770447618ffcea8250875224/archive"},{"rel":"statistics","href":"/v2/groups/altd/cda88a69770447618ffcea8250875224/statistics"},{"rel":"upcomingScheduledActivities","href":"/v2/groups/altd/cda88a69770447618ffcea8250875224/upcomingScheduledActivities"},{"rel":"horizontalAutoscalePolicyMapping","href":"/v2/groups/altd/cda88a69770447618ffcea8250875224/horizontalAutoscalePolicy","verbs":["GET","PUT","DELETE"]},{"rel":"scheduledActivities","href":"/v2/groups/altd/cda88a69770447618ffcea8250875224/scheduledActivities","verbs":["GET","POST"]}],"changeInfo":{"createdBy":"<USERNAME>","createdDate":"2016-02-12T11:42:09Z","modifiedBy":"<USERNAME>","modifiedDate":"2016-02-12T11:42:09Z"},"customFields":[]}'
  recorded_at: Fri, 12 Feb 2016 11:42:48 GMT
recorded_with: VCR 3.0.1
