---
http_interactions:
- request:
    method: post
    uri: https://api.ctl.io/v2/authentication/login
    body:
      encoding: UTF-8
      string: '{"username":"<USERNAME>","password":"<PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"userName":"<USERNAME>","accountAlias":"ALTD","locationAlias":"VA1","roles":["AccountAdmin","AccountViewer","BillingAdmin","DNSManager","NetworkAdmin","SecurityAdmin","ServerAdmin","ServerOperator","ServerScheduler"],"bearerToken":"<AUTH_TOKEN>"}'
  recorded_at: Fri, 12 Feb 2016 12:12:55 GMT
- request:
    method: post
    uri: https://api.ctl.io/v2/servers/ALTD
    body:
      encoding: UTF-8
      string: '{"name":"test","description":"test server","type":"standard","groupId":"5757349d19c343a88ce9a473fe2522f4","sourceServerId":"DEBIAN-7-64-TEMPLATE","cpu":1,"memoryGB":1,"isManagedOS":false,"isManagedBackup":false}'
    headers:
      Authorization:
      - <AUTH_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"server":"test","isQueued":true,"links":[{"rel":"status","href":"/v2/operations/altd/status/va1-334702","id":"va1-334702"},{"rel":"self","href":"/v2/servers/ALTD/11371f1217b54487824ebfefa4e16bec?uuid=True","id":"11371f1217b54487824ebfefa4e16bec","verbs":["GET"]}]}'
  recorded_at: Fri, 12 Feb 2016 12:12:58 GMT
- request:
    method: get
    uri: https://api.ctl.io/v2/operations/ALTD/status/va1-334702
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"notStarted"}'
  recorded_at: Fri, 12 Feb 2016 12:12:59 GMT
[...]
- request:
    method: get
    uri: https://api.ctl.io/v2/servers/ALTD/11371f1217b54487824ebfefa4e16bec?uuid=True
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"va1altdtest13","name":"VA1ALTDTEST13","displayName":"VA1ALTDTEST13","description":"test
        server","groupId":"5757349d19c343a88ce9a473fe2522f4","isTemplate":false,"locationId":"VA1","osType":"Debian
        7 64-bit","os":"debian7_64Bit","status":"active","details":{"ipAddresses":[{"internal":"10.135.43.12"}],"secondaryIPAddresses":[],"alertPolicies":[],"cpu":1,"diskCount":3,"hostName":"","inMaintenanceMode":false,"memoryMB":1024,"powerState":"started","storageGB":19,"disks":[{"id":"0:0","sizeGB":1,"partitionPaths":[]},{"id":"0:1","sizeGB":2,"partitionPaths":[]},{"id":"0:2","sizeGB":16,"partitionPaths":[]}],"partitions":[],"snapshots":[],"customFields":[]},"type":"standard","storageType":"premium","changeInfo":{"createdBy":"<USERNAME>","createdDate":"2016-02-12T12:13:22Z","modifiedDate":"2016-02-12T12:14:49Z"},"links":[{"rel":"self","href":"/v2/servers/altd/va1altdtest13","id":"va1altdtest13","verbs":["GET","PATCH","DELETE"]},{"rel":"group","href":"/v2/groups/altd/5757349d19c343a88ce9a473fe2522f4","id":"5757349d19c343a88ce9a473fe2522f4"},{"rel":"account","href":"/v2/accounts/altd","id":"altd"},{"rel":"billing","href":"/v2/billing/altd/serverPricing/va1altdtest13"},{"rel":"publicIPAddresses","href":"/v2/servers/altd/va1altdtest13/publicIPAddresses","verbs":["POST"]},{"rel":"credentials","href":"/v2/servers/altd/va1altdtest13/credentials"},{"rel":"statistics","href":"/v2/servers/altd/va1altdtest13/statistics"},{"rel":"upcomingScheduledActivities","href":"/v2/servers/altd/11371f1217b54487824ebfefa4e16bec/upcomingScheduledActivities"},{"rel":"scheduledActivities","href":"/v2/servers/altd/11371f1217b54487824ebfefa4e16bec/scheduledActivities","verbs":["GET","POST"]},{"rel":"capabilities","href":"/v2/servers/altd/va1altdtest13/capabilities"},{"rel":"alertPolicyMappings","href":"/v2/servers/altd/va1altdtest13/alertPolicies","verbs":["POST"]},{"rel":"antiAffinityPolicyMapping","href":"/v2/servers/altd/va1altdtest13/antiAffinityPolicy","verbs":["PUT","DELETE"]},{"rel":"cpuAutoscalePolicyMapping","href":"/v2/servers/altd/va1altdtest13/cpuAutoscalePolicy","verbs":["PUT","DELETE"]}]}'
  recorded_at: Fri, 12 Feb 2016 12:14:51 GMT
recorded_with: VCR 3.0.1
