---
http_interactions:
- request:
    method: post
    uri: https://api.ctl.io/v2/authentication/login
    body:
      encoding: UTF-8
      string: '{"username":"<USERNAME>","password":"<PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"userName":"<USERNAME>","accountAlias":"ALTD","locationAlias":"VA1","roles":["AccountAdmin","AccountViewer","BillingAdmin","DNSManager","NetworkAdmin","SecurityAdmin","ServerAdmin","ServerOperator","ServerScheduler"],"bearerToken":"<AUTH_TOKEN>"}'
  recorded_at: Fri, 12 Feb 2016 12:25:25 GMT
- request:
    method: delete
    uri: https://api.ctl.io/v2/servers/ALTD/absent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH_TOKEN>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"server":"va1altdtest13","isQueued":true,"links":[{"rel":"status","href":"/v2/operations/altd/status/va1-334708","id":"va1-334708"}]}'
  recorded_at: Fri, 12 Feb 2016 12:25:26 GMT
- request:
    method: get
    uri: https://api.ctl.io/v2/operations/ALTD/status/va1-334708
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"notStarted"}'
  recorded_at: Fri, 12 Feb 2016 12:25:26 GMT
[...]
- request:
    method: get
    uri: https://api.ctl.io/v2/operations/ALTD/status/va1-334708
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"succeeded"}'
  recorded_at: Fri, 12 Feb 2016 12:26:31 GMT
recorded_with: VCR 3.0.1
